@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #ff966d, #fa538d, #89379c);
}

form {
    background: #ffffff;
    padding: 60px;
    width: 550px;
    max-width: calc(100% - 60px);
    border-radius: 5px;
}

.form-element {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.form-element span {
    margin-bottom: 10px;
    text-align:center;
}

input,
textarea {
    border: 1px solid #d0d2e2;
    line-height: 2;
    padding: 5px;
    border-radius: 5px;
}

.radio-buttons label {
    margin-bottom: 10px;
    cursor: pointer;
}

form button {
    width 100%;
    padding: 20px;
    color: white;
    background: $laaaef;
    border-radius: 5px;
    border: none;
    font-size: 18px;
}

.emoji-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

input[type=radio] { opacity:0; }

.tdkpuas{background-image:url(http://i.imgur.com/T3dxcR3.png); }
.puas{background-image:url(http://i.imgur.com/gFAc8mW.png); }


.emoji-selector input:active +.drinkemoji-cc{opacity: .9;}
.emoji-selector input:checked +.drinkemoji-cc{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}
.drinkemoji-cc{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:100px;height:70px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}
.drinkemoji-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}

/* Extras */
a:visited{color:#888}
a{color:#444;text-decoration:none;}
p{margin-bottom:.3em;}
